fastapi>=0.115.0
uvicorn[standard]>=0.31.1
pydantic>=2.11.0,<3.0.0
python-dotenv>=1.0.1
redis>=5.0.0
google-auth>=2.34.0
google-auth-oauthlib>=1.2.1
google-auth-httplib2>=0.2.0
google-api-python-client>=2.147.0
